<div class="card border mb-4">
  <div class="card-header">
    <h6>Información personal</h6>
  </div>

  <div class="card-body">
    <p class="card-text mb-1">
      <span class="text-gris-extra-oscuro font-semibold">Nombre:</span> Daniel
      Marqués
    </p>
    <p class="card-text mb-1">
      <span class="text-gris-extra-oscuro font-semibold">Identificación:</span>
      0 0000 0000
    </p>
    <p class="card-text">
      <span class="text-gris-extra-oscuro font-semibold"
        >Correo electrónico:</span
      >
      mail@gmail.com
    </p>
    <br />
    <button routerLink="edit-profile">Editar</button>
    <a
      routerlink="edit-profile"
      class="btn btn-secondary btn-block mb-2 mb-md-0"
      ><i class="fa fa-user mr-2" aria-hidden="true"></i>Editar perfil</a
    >
  </div>
</div>
