<div class="card border mb-4 mb-lg-0">
  <div class="card-header">
    <h6>Descargá tu wallet</h6>
  </div>

  <div class="card-body">
    <div class="row gutter-1 text-center">
      <div class="col-12">
        <a href="#" class="btn btn-secondary btn-block mb-2 mb-md-0"
          ><i
            class="fa fa-download mr-2"
            aria-hidden="true"
            aria-hidden="true"
          ></i
          >Descargar imagen wallet</a
        >
      </div>

      <div class="col-12 col-lg-6 pt-md-3">
        <a href="#" class="btn btn-outline btn-block mb-2 mb-md-0">
          <img
            class="icon"
            style="width: 9%"
            srcset="../../../assets/images/iconos/apple-wallet.svg"
            alt="Pass Wallet"
          />
          Apple Wallet</a
        >
      </div>

      <div class="col-12 col-lg-6 pt-md-3">
        <a
          href="#"
          class="btn btn-outline btn-secondary btn-block mb-2 mb-md-0"
        >
          <img
            class="icon"
            style="width: 9%"
            srcset="../../../assets/images/iconos/wallet-passes.svg"
            alt="Pass Wallet"
          />
          WalletPasses</a
        >
      </div>
    </div>
  </div>
</div>
