<div class="card border mb-4">
  <div class="card-header">
    <h6>Histórico de Transacciones</h6>
  </div>

  <div class="card-body">
    <!-- Transaction no.01 -->
    <article>
      <div class="row">
        <div class="col-12 col-md-3">
          <img
            src="assets/images/backgrounds/premios.png"
            alt="Priority Pass"
            width="100%"
          />
        </div>
        <div class="col-12 col-md-7">
          <h6 class="text-gris-extra-oscuro pt-2 pt-md-0">Nombre del premio</h6>
          <p>Puntos acreditados: 150</p>
          <p>Puntos debitados: 50</p>
          <p class="text-gris-medio font-semibold mb-1 mb-md-0">
            Fecha: 16.08.23
          </p>
        </div>
        <div class="col-12 col-md-2 text-left text-md-right mb-1 mb-md-0">
          <p class="text-rojo-bac font-bold">Monto: $50</p>
          <p>Saldo: $70</p>
        </div>
      </div>
      <div class="pt-2">
        <hr />
      </div>
    </article>

    <!-- Transaction no.02 -->
    <article>
      <div class="row">
        <div class="col-12 col-md-3">
          <img
            src="assets/images/backgrounds/premios.png"
            alt="Priority Pass"
            width="100%"
          />
        </div>
        <div class="col-12 col-md-7">
          <h6 class="text-gris-extra-oscuro pt-2 pt-md-0">Nombre del premio</h6>
          <p>Puntos acreditados: 150</p>
          <p>Puntos debitados: 50</p>
          <p class="text-gris-medio font-semibold mb-1 mb-md-0">
            Fecha: 16.08.23
          </p>
        </div>
        <div class="col-12 col-md-2 text-left text-md-right mb-1 mb-md-0">
          <p class="text-rojo-bac font-bold">Monto: $50</p>
          <p>Saldo: $70</p>
        </div>
      </div>
      <div class="pt-2">
        <hr />
      </div>
    </article>

    <!-- Transaction no.03 -->
    <article>
      <div class="row">
        <div class="col-12 col-md-3">
          <img
            src="assets/images/backgrounds/premios.png"
            alt="Priority Pass"
            width="100%"
          />
        </div>
        <div class="col-12 col-md-7">
          <h6 class="text-gris-extra-oscuro pt-2 pt-md-0">Nombre del premio</h6>
          <p>Puntos acreditados: 150</p>
          <p>Puntos debitados: 50</p>
          <p class="text-gris-medio font-semibold mb-1 mb-md-0">
            Fecha: 16.08.23
          </p>
        </div>
        <div class="col-12 col-md-2 text-left text-md-right mb-1 mb-md-0">
          <p class="text-rojo-bac font-bold">Monto: $50</p>
          <p>Saldo: $70</p>
        </div>
      </div>
      <div class="pt-2">
        <hr />
      </div>
    </article>

    <!-- Transaction no.04 -->
    <article>
      <div class="row">
        <div class="col-12 col-md-3">
          <img
            src="assets/images/backgrounds/premios.png"
            alt="Priority Pass"
            width="100%"
          />
        </div>
        <div class="col-12 col-md-7">
          <h6 class="text-gris-extra-oscuro pt-2 pt-md-0">Nombre del premio</h6>
          <p>Puntos acreditados: 150</p>
          <p>Puntos debitados: 50</p>
          <p class="text-gris-medio font-semibold mb-1 mb-md-0">
            Fecha: 16.08.23
          </p>
        </div>
        <div class="col-12 col-md-2 text-left text-md-right mb-1 mb-md-0">
          <p class="text-rojo-bac font-bold">Monto: $50</p>
          <p>Saldo: $70</p>
        </div>
      </div>
      <div class="pt-2">
        <hr />
      </div>
    </article>

    <!-- Transaction no.05 -->
    <article>
      <div class="row">
        <div class="col-12 col-md-3">
          <img
            src="assets/images/backgrounds/premios.png"
            alt="Priority Pass"
            width="100%"
          />
        </div>
        <div class="col-12 col-md-7">
          <h6 class="text-gris-extra-oscuro pt-2 pt-md-0">Nombre del premio</h6>
          <p>Puntos acreditados: 150</p>
          <p>Puntos debitados: 50</p>
          <p class="text-gris-medio font-semibold mb-1 mb-md-0">
            Fecha: 16.08.23
          </p>
        </div>
        <div class="col-12 col-md-2 text-left text-md-right mb-1 mb-md-0">
          <p class="text-rojo-bac font-bold">Monto: $50</p>
          <p>Saldo: $70</p>
        </div>
      </div>
    </article>
  </div>
</div>
