<div class="card border mb-4">
  <div class="card-header">
    <h6>Puntos disponibles</h6>
  </div>

  <div class="card-body">
    <div class="car-text pt-2">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h5>650 pts</h5>
        </div>
        <div class="col-12 col-lg-6">
          <h6>1200</h6>
          <p>Puntos acumulados</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <h6>3</h6>
          <p>Premios canjeados</p>
        </div>
        <div class="col-12 col-lg-6">
          <h6>600</h6>
          <p>Puntos canjeados</p>
        </div>
      </div>
    </div>
  </div>
</div>
