<section class="pt-4 pb-3 p-md-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12">
        <h2 class="h2">Editar Perfil</h2>
        <hr />
        <h3 class="pt-4">Información básica</h3>
      </div>
    </div>
  </div>
</section>

<!-- Section No.00
---------------------------------------------- -->

<section class="pl-lg-5 pr-lg-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div>
          <!-- Input -->
          <div class="form-group">
            <label for="inputNombre">Nombre:</label>
            <input type="text" class="form-control" placeholder="Daniel" />
            <div class="invalid-feedback">Ingresá un nombre válido</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div>
          <!-- Input -->
          <div class="form-group">
            <label for="inputApellido">Apellidos:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Marqués Sánchez"
            />
            <div class="invalid-feedback">Ingresá un apellido válido</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div>
          <!-- Input -->
          <div class="form-group">
            <label for="inputFecha">Fecha de Nacimiento</label>
            <input type="text" class="form-control" placeholder="11-06-1989" />
            <div class="invalid-feedback">ingresa una fecha válida</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div>
          <!-- Input -->
          <div class="form-group">
            <label for="inputMail">Correo Electrónico:</label>
            <input
              type="text"
              class="form-control"
              placeholder="mail@loymark"
              placeholder="11-06-1989"
            />
            <div class="invalid-feedback">Ingresá un email válido</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div>
          <!-- Input -->
          <div class="form-group">
            <label for="inputIdent">Identificación:</label>
            <input type="text" class="form-control" placeholder="19245867" />
            <div class="invalid-feedback">
              Ingresa una identificación válida
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div>
          <!-- Input -->
          <div class="form-group">
            <label for="inputTel">Teléfono Celular:</label>
            <input type="text" class="form-control" placeholder="1111111111" />
            <div class="invalid-feedback">
              Ingresa una identificación válida
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div>
          <!-- Input -->
          <div class="form-group mb-3">
            <div><label for="">Género</label></div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                class="custom-control-input"
                id="customControlValidation4"
                name="radio-stacked checked"
              />
              <label class="custom-control-label" for="customControlValidation4"
                >Femenino</label
              >
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                class="custom-control-input"
                checked
                id="customControlValidation5"
                name="radio-stacked"
              />
              <label class="custom-control-label" for="customControlValidation5"
                >Masculino</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-3 p-md-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12">
        <hr />
        <h3 class="pt-4">Información de acceso</h3>
      </div>
    </div>
  </div>
</section>

<section class="pl-lg-5 pr-lg-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div>
          <!-- Input -->
          <div class="form-group">
            <label for="inputUser">Correo electrónico / Usuario:</label>
            <input
              type="text"
              class="form-control"
              placeholder="mail@loymark.com"
            />
            <div class="invalid-feedback">
              Ingresá un correo o nombre de usuario válido
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div>
          <!-- Input -->
          <div class="form-group">
            <label for="inputPassword">Contraseña:</label>
            <input
              type="password"
              class="form-control"
              placeholder="12345678"
            />
            <div class="invalid-feedback">Ingresá una contraseña válida</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div>
          <!-- Input -->
          <div class="form-group">
            <label for="inputPassword">Confirmar contraseña:</label>
            <input
              type="password"
              class="form-control"
              placeholder="12345678"
            />
            <div class="invalid-feedback">La contraseña no coincide</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center pt-3 pt-md-5 col-12 col-md-5">
    <a href="index-usuario.html" class="btn btn-secondary btn-block mb-md-0"
      ><i class="fa fa-user mr-2" aria-hidden="true"></i>Actualizar datos</a
    >
  </div>
</section>
