<section class="py-4 bg-light xs-hide-element">
  <div class="container">
    <!-- Breadcrumbs -->
    <div class="row">
      <div class="col-12 col-lg-12">
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb-dark">
            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ titulo }}
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
