<app-breadcrumbs></app-breadcrumbs>

<section class="pt-5 pt-lg-6 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 text-center">
        <h2 class="h2 mb-4">¿Olvidaste tu constraseña?</h2>
        <p>
          Ingresá tu correo electrónico y te enviaremos una nueva para <br />
          que inicies sesión y podás cambiarla.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Section No.00
---------------------------------------------- -->

<section class="pb-6">
  <div class="container">
    <!-- Form -->
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-6">
        <div class="">
          <form class="needs-validation" novalidate>
            <!-- Input -->
            <div class="form-group">
              <label for="inputEmail">Correo electrónico</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                required
              />
              <div class="invalid-feedback">
                Ingresá un correo electrónico válido.
              </div>
            </div>

            <!-- Button -->
            <button type="submit" class="btn btn-blue btn-block">Enviar</button>
          </form>

          <div class="pt-6 text-center">
            <p>
              Regresar a
              <a class="blue-link" href="iniciar-sesion.html">Iniciar sesión</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
